<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstApp">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Holmes Keyboard settings screen -->
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false"
            android:label="Holmes Keyboard Settings" />

        <!-- Custom keyboard (IME) service -->
        <service
            android:name=".HolmesKeyboardService"
            android:label="Holmes Keyboard"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true"
            android:settingsActivity="com.kennesnyder.firstapp.settings.SettingsActivity">

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/ime_method" />
        </service>

    </application>

</manifest>
